<!DOCTYPE html>
<html lang="fr" ng-app="Connexion">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Titre en onglet -->
    <title>Bienvenue !</title>
    <!-- Importation des scripts pour cette page -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src="/views/users/LogIn/index.js"></script>
</head>

<body ng-controller ='mainController'>
    <!-- Titre de la page  -->
    <h1>Bienvenue !</h1>
    <!-- Compteur d'utilisateurs -->
    <br> <h3> Il y a actuellement {{ lalistedeco.length }} possesseurs de listes ! </h3>
    <br> <h3>Rejoignez-nous !</h3>
    <!-- Formulaire de remplissage pour une nouvelle liste -->
    <div id='login-form'>
        <form>
            <input type="text" placeholder="Login" ng-model="formData.user">
            <input type="text" placeholder="Password" ng-model="formData.pwd">
            <button type="submit" ng-click ="Connect()">Se connecter</button>
        </form>
    </div>
    <!-- Partie Inscription -->
    <h4>Voulez-vous être le prochain ?<a href = "/views/users/signup/index.html"> Inscrivez-vous ! </a></h4>
    </div>

</body>
</html>
